@media (max-width : 1500px) {
    body {
      display: flex;
      flex-direction: column;
    }

    .main-section {
      margin-left: 0px;
    }
  }

  .main-section {
    margin-left: 400px;
    margin-top: 40px;  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  a{
	text-decoration: none;
    color: rgb(28, 50, 110);
    
}
a:hover{
	color: grey;
}

  #navbar {
    position: fixed;
    flex-wrap: nowrap;
    width: 100%;
    top: 15px;
    padding-left: 10px;
  }
  
  .main-section header {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  
  .dark-mode {
    background-color: rgb(15, 14, 14);
    color: rgb(175, 175, 175);
}
  #navbar header {
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  #navlist {
    list-style-type: none;
    margin: 0;
    
    padding: 20px 0px 0px 10px;
    font-size: 25px;
  }
  
  #navlist li {
    padding: 10px;
  }
  
  #navlist a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-family: 'Poppins', sans-serif;
  }
  
  #navlist a:hover{
      color: rgb(175, 175, 175);
  }
  
  code {
    display: block;
    background-color: rgba(58, 57, 57, 0.233);
    padding: 15px 0px 15px 35px;
    margin-left: 35px;
    margin-right: 35px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
  }
  
  code ul {
    margin: 0;
    padding-left: 15px;
    padding-right: 0px;
  }

  p {
    padding-left: 20px;
  }
 button {
	background: #333;
	border: none;
	padding: 0.6rem 1rem;
	color: #fff;
	font-size: 14px;
	border-radius: 60px;
	cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
button:focus{
	outline:none;
}
button:hover{
	color: rgb(129, 125, 125);
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }